/* Add your styles here */
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

div {
  margin: 0 auto;
  padding: 20px;


  border-radius: 5px;

}

h1 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}